.button {
    cursor: pointer;
    min-height: 40px;
    min-width: 80px;
    padding: 5px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    color: #fee8ee;
    border: none;
    border-radius: 5px;
    background-color: #f51a51;
    transition: background-color 150ms ease-in-out;
    box-shadow: 0 4px 18px #f51a5159, inset 0 1px #ffffff4d;
}

button:disabled {
    cursor: no-drop;
    background-color: #fba3b9;
}

button:hover {
    transition: 150ms ease-in-out;
    background-color: #f74874;
}

button:disabled:hover {
    background-color: #fba3b9;
}

button:active {
    background-color: #c41541;
}