.counter {
    z-index: 2;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 400px;
    height: 400px;
    border: 1px solid #182637;
    border-radius: 10px;
    background-color: #131e2c;
    transition: transform 300ms ease-in-out;
}

.counterWithSettings {
    transition: transform 300ms ease-in-out;
    transform: translateX(-100px);
}

.display,
.count,
.disabledCount,
.minMaxValues,
.settingsMessage,
.error,
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    gap: 15px;
}

.count, .disabledCount {
    font-size: 90px;
    font-weight: bold;
}

.count {
    color: #E8EDE7;
}

.disabledCount {
    color: #f51a51;
}

.minMaxValues {
    opacity: 0;
    min-width: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #f51a51;
    transition: ease-in-out 200ms;
}

.count:hover, .minMaxValues:hover {
    cursor: default;
}

.maxValue {
    position: absolute;
    text-align: center;
    color: white;
    top: 50px;
    left: 45px;
}

.settingsButtonWrapper {
    position: absolute;
    top: 10px;
    right: 5px;
}

.settingsAreOpen, .settingsAreClose {
    position: absolute;
}

.settingsAreOpen {
    transition: transform 300ms ease-in-out;
    transform: translateX(205px);
}

.settingsAreClose {
    transition: transform 300ms ease-in-out;
    transform: translateX(0);
}