.settingsWrapper {
    box-sizing: border-box;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 400px;
    border: 2px solid #E8EDE7;
    border-radius: 15px;
    background-color: #2F3148;
}

.setting {
    box-sizing: border-box;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    width: calc(50% - 5px);
    color: white;
    border: 1px solid #E8EDE7;
    border-radius: 5px;
}

.setting legend {
    color: white;
}

.clearInput {
    all: unset;
}

.setButton {
    height: max-content;
}