.settingsWrapper {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    width: 400px;
    height: 400px;
    border: 1px solid #182637;
    border-radius: 10px;
    background-color: #131e2c;
    transition: transform 300ms ease-in-out;
}

.open {
    transition: transform 300ms ease-in-out;
    transform: translateX(105px);
}

.setting {
    box-sizing: border-box;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    width: calc(50% - 5px);
    color: white;
    border: 1px solid #E8EDE7;
    border-radius: 5px;
}

.setting legend {
    color: white;
}

.clearInput {
    all: unset;
}

.setButton {
    height: max-content;
    width: max-content;
}